# Database Configuration
POSTGRES_DB=techskeladd_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Service Ports (Host:Container)
PORT_POSTGRES=5432
PORT_ODOO=8069
PORT_N8N=5678